{% extends 'base.html' %}

{% block title %}About me{% endblock title %}


{% block page_content %}

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel tristique augue.
    In ex enim, pharetra efficitur ultricies finibus, tristique at quam. Mauris egestas
    lorem a magna rhoncus, sed vestibulum sem elementum. Nulla lacinia dapibus libero,
    eu placerat dui finibus non. Mauris turpis odio, gravida eget arcu nec, cursus porta magna.
    Vivamus interdum erat dui, et pulvinar nisl faucibus sit amet. Aenean posuere mauris non
    tincidunt tincidunt. Aenean bibendum venenatis lacus, non convallis libero lobortis at.
    Vivamus sit amet erat vitae nisi maximus sollicitudin ac quis sapien. Suspendisse
    eleifend metus ac rutrum scelerisque.</p>

{% endblock page_content %}

{% block page_js %}}
afjaslk