{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block page_content %}
Nulla facilisi. Fusce suscipit suscipit lacus nec convallis.
Phasellus elementum maximus elit ut dignissim. Sed semper, enim venenatis dapibus dictum,
risus enim tempus justo, ac fringilla arcu odio eu enim. Nam sit amet eleifend risus.
Phasellus viverra elit et lobortis dignissim. Integer viverra felis nec tortor
consectetur sollicitudin. Nunc non metus leo. Ut dui ex, tincidunt et sem at,
condimentum aliquam nulla. Phasellus sem neque, hendrerit eu lectus et, aliquam interdum nunc.
Ut eros lacus, gravida ut magna et, dignissim vehicula diam.
{% endblock %}